ul{list-style:none;}
img{border:0}
/** Links CSS **/

a:link, a:visited{
	color:#000;
	text-decoration:none;
}

a.b:link {
	color: #000;
	text-decoration: none;
}
a.b:visited {
	text-decoration: none;
	color: #000;
}
a.b:hover {
	text-decoration: underline;
	color: #000;
}
a.b:active {
	text-decoration: none;
	color: #000;
}

a.c:link{ color:#1961A8; text-decoration:none; font-weight:bold;}
a.c:visited {
	text-decoration: none;
	color: #1961A8;
	font-weight:bold;
}
a.c:hover {
	text-decoration: underline;
	color: #749030;
	font-weight:bold;
}
a.c:active {
	text-decoration: none;
	color: #749030;
	font-weight:bold;
}
a.d:link{ color:#3165CE; text-decoration:none;}
a.d:visited {
	text-decoration: none;
	color: #3165CE;
}
a.d:hover {
	text-decoration: underline;
	color: #3165CE;
}
a.d:active {
	text-decoration: none;
	color: #3165CE;
}
.req{color:red;}
#topText{ font-size:16px; color:#FFF; float:left; letter-spacing:5px; margin:-3px 0 0 5px;}
.topBg{ background:url(../images/solid/topBg.gif) repeat-x; background-color:#DFE8F6}
.topLeft{ background:url(../images/solid/topLeftImg.jpg); height:24px; width:10px;}
.topUl{ margin:0; padding-top:4px;}
.topUl li{ float:right; height:24px;}
.topRight{ background:url(../images/solid/topRightImg.jpg); height:24px; width:10px;}
.topMiddle{ background:url(../images/solid/topMiddleBg.jpg) repeat-x; width:70px; line-height:24px; vertical-align:middle; padding-left:5px }
#pm,#dm{font-size:14px; text-align:center }
#tabwin td{height:30px; letter-spacing:1px;}
.tCenter{text-align:center}
.publicUl{ margin:0 20px; float:left; padding:3px;}
.publicLeftTd{border-bottom:#fff solid 1px; color:#1C3E7D}
.publicTr{}
#attUl{padding:0px; margin:0px;}
#attUl li{ margin:5px;}
.color999{color:#999}
#specialTr td{height:0px;}
.pic{ background-color: #FFFFFF;display: table-cell;height: 50px;text-align: center;vertical-align: middle;width: 50px;}
.colUl{ background:url(../images/solid/col.png) repeat-x; border:3px solid #fffccc; float:left; margin-bottom:3px; clear:both;}
.colUl li{width:120px; float:left; margin:0 auto; margin-left:5px; padding:3px; line-height:50px;vertical-align: middle;}
#listView{width:500px; margin:10px 0 0 10px;}
#listView li{float:left; list-style:none}
.viewName{margin:25px 0 5px 0; font-size:14px; font-weight:bold; font-size:16px; letter-spacing:1px; text-align:center}
.backSpan{margin-left:50px; float:right;color: #999999}
.viewStyle{border-bottom:1px dashed #ccc;width:198px; display:inherit;}
.listMargin{margin-rigth:25px;}
.listMargin2{margin:25px 0 0 40px;}
.listMargin3{margin:0 5px 0 50px;}
.width200{width:200px;}
.split{border:#000 solid 1px; margin:30px; 0 0 30px}

